<view>

    <return-box name="Dashboard" link="views/dashboard.html"></return-box>
    <intro title="Manage"></intro>
    <div class="tile-container">
        <settings-tile></settings-tile>
        <settings-tile></settings-tile>
    </div>

</view>

<style>
    .view {
        width: 530px;
        height: 612px;
    }
    .tile-container {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
    }
</style>
<script>

    // rendering components
    await use("components/return-box.html", this);
    await use("components/intro.html", this);
    await use("components/settings-tile.html", this);

    const box = document.querySelector("#box");

    const nameTile = view.querySelectorAll(".SETTINGS-TILE")[0]
    const emailTile = view.querySelectorAll(".SETTINGS-TILE")[1]

    nameTile.render("Name", window.user.userName)
    emailTile.render("Email", window.user.userEmail)

    nameTile.setSaveEvent(async (value, button) => {
        const t1 = button.startLoading();
        const result = await updateUser(window.user.userAccessToken, { name: value })
        await Promise.all([t1])
        console.log(result);
        if(result.error != false) {
            button.resolveLoading(false)
            return;
        }
        await button.resolveLoading(true);
        await reload();
        await button.reset("110px");
        nameTile.render("Name", window.user.userName)
        route("views/dashboard.html");
    })
    emailTile.setSaveEvent(async (value, button) => {

        const t1 = button.startLoading();
        const result = await updateUser(window.user.userAccessToken, { email: value })
        await Promise.all([t1])
        if(result.error != false) {
            button.resolveLoading(false)
            return;
        }
        await button.resolveLoading(true);
        await reload();
        await button.reset("110px");
        emailTile.render("Email", window.user.userEmail)
        route("views/dashboard.html");
    })

</script>