<grey-button>

    <div class="button">
        <span>...</span>
    </div>

</grey-button>
<style>

    .component .button {
        background-color: black;
        /* padding: 18px 32px; */
        /* width: 88px;
        height: 38px; */
        padding: 10px 18px;
        display: inline-block;
        cursor: pointer;
        background-color: #4E4E4E;
        border-radius: 11px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .component .button span {
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

</style>
<script>

    const button = component.querySelector(".button");
    const text = component.querySelector(".button span");

    text.innerHTML = props.innerHTML;

    const addClickEvent = (event) => button.addEventListener("click", event);
    
    return { addClickEvent } 

</script>