<field>

    <div class="field">
        <input type="text" placeholder="Old Pass">
    </div>

</field>
<style>

    .component .field input {
        width: 266px;
        height: 51px;
        border: 2px solid rgba(0, 0, 0, 0.35);
        border-radius: 8px;
        outline: none;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        padding-left: 18px;
    }
    .component .red::placeholder {
        color: #E74C3C;
    }

</style>
<script>

    const input = component.querySelector(".field input")
    input.placeholder = props.placeholder;

    const renderError = async (error) => {

        input.placeholder = error;
        input.value = "";
        input.classList.add("red");
        await transitionElement(input, { borderColor: "#E74C3C" }, 1.0)

        input.addEventListener("focusout", () => {
            input.style.borderColor = "rgba(0, 0, 0, 0.35)"
        })

    }
    const getValue = () => input.value

    return { renderError, getValue }

</script>