<return-box>

    <div class="return-button">
        <img src="images/play.svg">
        <div class="text">...</div>
    </div>

</return-box>
<style>

    .component .return-button {
        margin-top: 24px;
        margin-left: 33px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
    }
    .component .return-button img {
        transform: rotate(180deg);
    }
    .component .return-button .text {
        margin-left: 6px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        color: #787878;
    }

</style>
<script>

    component.querySelector(".return-button .text").innerHTML = props.name;

    component.addEventListener("click", async () => {
        const viewTemplate = await fetchView(props.link);
        const loadedView = await loadView(viewTemplate);
        fadeToView(box, loadedView)
    })

</script>