<standard-button>

    <div class="button">
        <span>...</span>
    </div>

</standard-button>
<style>

    .component .button {
        cursor: pointer;
        /* width: 322px; */
        width: 250px;
        padding-left: 30px;
        padding-right: 30px;
        vertical-align: middle;
        line-height: 59px;
        height: 59px;
        background: #3498DB;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: #fff;
        text-align: center;
        display: flex;
    }
    .component .button span {
        margin-left: auto;
        margin-right: auto;
    }
    .component .loader {
        width: 30px;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        animation: spin 2s linear infinite;
        align-self: center;
    }
    .component .symbol {
        width: 59px;
        opacity: 0;
        font-size: 29px;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>
<script>

    const primaryColor = props.primary ? props.primary : "#3498DB";
    const secondaryColor = props.secondary ? props.secondary : "#3498db";

    const button = component.querySelector(".button");
    const text = component.querySelector(".button span");

    text.innerHTML = props.text;
    
    // rendering color
    button.style.backgroundColor = primaryColor;

    const addClickEvent = (event) => {
        button.addEventListener("click", () => {
            event();
        })
    } 
    const startLoading = async () => {
        const text = component.querySelector(".button span");

        const t1 = transitionElement(text, { opacity: "0.0" }, 0.5);
        const t2 = transitionElement(button, { width: "59px", paddingLeft: "0px", paddingRight: "0px" }, 1);
        await Promise.all([t1, t2]);
        
        const loader = document.createElement("div");
        loader.classList.add("loader");
        // color
        loader.style.borderTop = "4px solid " + secondaryColor;

        button.appendChild(loader);
        button.removeChild(text);
    }
    const resolveLoading = async (successfull) => {
        const loader = component.querySelector(".button .loader");
        await transitionElement(loader, { opacity: "0.0" }, 0.5);

        const symbol = document.createElement("div");
        symbol.classList.add("symbol");
        if(successfull) symbol.innerHTML = "✔"
        if(!successfull) symbol.innerHTML = "✖"
        button.appendChild(symbol);
        button.removeChild(loader);
        await transitionElement(symbol, { opacity: "1.0"}, 0.2);

        /* await transitionElement(button, { width: "250px"}, 0.5);
        const text = document.createElement("span");
        text.style.opacity = "0.0";
        text.innerHTML = "Error!"
        button.appendChild(text);
        await transitionElement(text, { opacity: "1.0"}, 0.2) */
    }
    const reset = async (width) => {
        const symbol = component.querySelector(".button .symbol");
        const text = document.createElement("span");
        text.style.opacity = "0.0";
        text.innerHTML = props.text;

        const t1 = transitionElement(button, { width: width ? width : "250px"}, 0.5);
        const t2 = transitionElement(symbol, { opacity: "0.0" }, 0.5);
        await Promise.all([t1, t2])

        button.removeChild(symbol);
        button.appendChild(text);
        await transitionElement(text, { opacity: "1.0"}, 0.5);

    }

    return { addClickEvent, startLoading, resolveLoading, reset }

</script>