html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee;
}
#box {
    width: 530px;
    /* height: 612px; */
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}