<view>

    <return-box name="Dashboard" link="views/dashboard.html"></return-box>
    <intro title="Token"></intro>
    <div class="tile-container">
    </div>
    <standard-button text="Create"></standard-button>

</view>
<style>
    .view {
        width: 530px;
        min-height: 612px;
    }
    .view .tile-container {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
    }
    .view .tile-container .TOKEN-TILE {
        margin-top: 18px;
        align-self: center;
    }
    .view .tile-container .TOKEN-TILE:first-child {
        margin-top: 0px;
    }
    .view .STANDARD-BUTTON .button {
        margin-top: 20px;
        margin-left: 20px;
        width: 65px;
        margin-bottom: 20px;
    }
    .view .INTRO {
        margin-top: 28px;
        margin-left: 36px;
    }
</style>
<script>

    // rendering components
    await use("../../components/return-box.html", this);
    await use("../../components/intro.html", this);
    await use("components/standard-button.html", this);

    const button = view.querySelector(".STANDARD-BUTTON");
    button.addClickEvent(async () => {
        console.log("Click!");
        const transition = button.startLoading();
        const token = await createToken(window.app);
        await Promise.all([transition, token])
        reload();
        await button.resolveLoading(true);
        route("views/token.html");
    })

    const tileContainer = view.querySelector(".tile-container");

    const tokenList = await getToken(window.app);
    tokenList.forEach(async (token) => {
        const tokenTile = document.createElement("token-tile");
        tokenTile.setAttribute("token", token);
        tileContainer.appendChild(tokenTile);
    })
    await use("components/token-tile.html", this);

</script>