<tile>

    <div class="tile">
        <div class="text">
            <div class="title">Title</div>
            <div class="description">description</div>
        </div>
        <div class="icon">
            <img src="images/play.svg">
        </div>
    </div>

</tile>
<style>

    .component {
        align-self: center;
        margin-top: 18px;
    }
    .component:first-child {
        margin-top: 0px;
    }
    .component .tile {
        width: 486px;
        height: 88px;
        cursor: pointer;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #ECECEC;
        border-radius: 8px;
    }
    .component .tile .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    .component .tile .text .title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
    }
    .component .tile .text .description {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.43);
    }
    .component .tile .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 29px;
    }

</style>
<script>

    const title = component.querySelector(".tile .title");
    const description = component.querySelector(".tile .description");

    title.innerHTML = props.title;
    description.innerHTML = props.description;

    component.addEventListener("click", async () => {
        if(props.link) {
            const viewTemplate = await fetchView(props.link);
            const loadedView = await loadView(viewTemplate);
            fadeToView(box, loadedView)   
        } else if(props.href) {
            window.location.href = props.href;
        }
    })

    /* const addClickEvent = (event) => {
        component.addEventListener("click", () => {
            event();
        })
    }

    return { addClickEvent } */

</script>