<view>

    <field placeholder="Name" type="Name"></field>
    <blue-button>Create App</blue-button>

</view>
<style>

    .view {
        height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .view .BLUE-BUTTON {
        width: 200px;
    }    

</style>
<script>

    await use("/components/field.html", this);
    await use("/components/blue-button.html", this);

    const button = view.querySelector(".BLUE-BUTTON");
    const field = view.querySelector(".FIELD");

    button.addClickEvent(async () => {

        const appName = field.getValue();
        const response = await createApp(appName, window.user.userAccessToken);
        
        if(response.error != false) {
            props.popup.renderError(response.error.message, "#" + response.error.code)
        }
        props.popup.renderSuccess(response.message);
        setTimeout(() => {
            window.location.href = serverAddress + "/app/dashboard?app=" + response.id;
        }, 1000)

    })

</script>